<!DOCTYPE html>
{% load static %}
<html>
<link rel="stylesheet" href="{% static 'css/app.css'%}">
 <body>

 <div>
 <h1><a href="/">Домашняя страница</a></h1>
 </div>

 <div>
 <h2>Здравствуй, Пользователь!</h2>
 </div>

<div class="post">
 <div class="content container">
  <div class="row">
   <div class="col-md-8">
   {% for post in posts %}
     <div class="post">
      <div class="date">
      <p>Создано: {{ post.сreated_date }}</p>
      </div>
     <h1><a href="">{{ post.title }}</a></h1>
     <p>{{ post.text|linebreaksbr }}</p>
   </div>
   {% endfor %}
   </div>
  </div>
 </div>
</div>

</body>
</html>
